## Flight Database

We are data analyts at the FAA. After today's debacle with flight delays, we want to calculate how many flights were delayed during the brief 3 hour period for 10 airports across the US.

Create & write out the described queries for questions 1-5. For some queries, answer the questions attached.

Be sure to work in pgAdmin to save changes to your database. Test out your code using the pgAdmin query tool.

Execute the following query in your pgAdmin before starting this lab:

In [ ]:
DROP TABLE IF EXISTS city;
DROP TABLE IF EXISTS airport;
DROP TABLE IF EXISTS airline;
DROP TABLE IF EXISTS airport_city;


CREATE TABLE city(
    cname VARCHAR(15) primary key,
    state VARCHAR(15), 
    country VARCHAR(30),
    population INT
);


INSERT INTO city (cname, state, country, population) VALUES('Louisville','Kentucky','United states', 628594);
INSERT INTO city (cname, state, country, population) VALUES ('Fort Worth','Texas','United states', 935508);
INSERT INTO city (cname, state, country, population) VALUES('San Francisco', 'California', 'United states', 815201);
INSERT INTO city (cname, state, country, population) VALUES('Houston','Texas','United states', 2288000);
INSERT INTO city (cname, state, country, population) VALUES('New York city','New York','United states', 8468000);
INSERT INTO city (cname, state, country, population) VALUES('Tampa', 'Florida', 'United states', 387050);
INSERT INTO city (cname, state, country, population) VALUES('Austin', 'Texas', 'United states', 964177);
INSERT INTO city (cname, state, country, population) VALUES('Atlanta', 'Georgia', 'United states', 496461);
INSERT INTO city (cname, state, country, population) VALUES('Honolulu', 'Hawaii', 'United states', 345510);

CREATE TABLE airport(
    ap_name VARCHAR(100) primary key,
    state VARCHAR(15), 
    country VARCHAR(30),
    cname VARCHAR(15),
    code VARCHAR(10),
    acres INT
);

INSERT INTO airport (ap_name, state, country, cname, code) VALUES('Louisville Muhammad Ali International Airport','Kentucky','United States','Louisville', 'SDF', 1500);
INSERT INTO airport (ap_name, state, country, cname, code) VALUES('Dallas/Fort Worth International Airport','Texas','United States','Fort Worth', 'DFW', 17207 );
INSERT INTO airport (ap_name, state, country, cname, code) VALUES('San Francisco International Airport','California', 'United States','San Francisco', 'SFO', 5207);
INSERT INTO airport (ap_name, state, country, cname, code) VALUES('George Bush Intercontinental Airport','Texas','United States','Houston', 'IAH', 10000);
INSERT INTO airport (ap_name, state, country, cname, code) VALUES('John F. Kennedy International Airport','New York','United States','New York city', 'JFK', 4930);
INSERT INTO airport (ap_name, state, country, cname, code) VALUES('LaGuardia Airport','New York','United States','New York city', 'LGA', 680);
INSERT INTO airport (ap_name, state, country, cname, code) VALUES('Tampa International Airport','Florida', 'United States','Tampa', 'TPA', 3300);
INSERT INTO airport (ap_name, state, country, cname, code) VALUES('Austin-Bergstrom International Airport','Texas', 'United States','Austin', 'AUS', 4242);
INSERT INTO airport (ap_name, state, country, cname, code) VALUES('Hartsfield-Jackson Atlanta International Airport','Georgia', 'United States','Atlanta', 'ATL', 4930);
INSERT INTO airport (ap_name, state, country, cname, code) VALUES('Daniel K. Inouye International Airport','Hawaii', 'United States','Honolulu', 'HNL', 4220);

CREATE TABLE airline(
    airlineID VARCHAR(3) primary key,
    al_name VARCHAR(50),
    al_code VARCHAR(3)
);

INSERT INTO airline (airlineID, al_name, al_code) VALUES('AA','American airlines','001');
INSERT INTO airline (airlineID, al_name, al_code) VALUES('UAL','United Airlines','016');
INSERT INTO airline (airlineID, al_name, al_code) VALUES('DL','Delta Air Lines','006');
INSERT INTO airline (airlineID, al_name, al_code) VALUES('WN','Southwest Airlines Co.','052');

CREATE TABLE airport_city(
    airlineID VARCHAR(3) NOT NULL,
    ap_name VARCHAR(100) NOT NULL,
    PRIMARY KEY(airlineID, ap_name),
);

INSERT INTO airport_city (airlineID, ap_name) VALUES('AA','Louisville International airport');
INSERT INTO airport_city (airlineID, ap_name) VALUES('AA','John F. Kennedy International airport');
INSERT INTO airport_city (airlineID, ap_name) VALUES('AA','LaGuardia Airport');
INSERT INTO airport_city (airlineID, ap_name) VALUES('AA','George Bush Intercontinental airport');
INSERT INTO airport_city (airlineID, ap_name) VALUES('AA','San Francisco International airport');
INSERT INTO airport_city (airlineID, ap_name) VALUES('AA','Tampa International airport');
INSERT INTO airport_city (airlineID, ap_name) VALUES('AA','Austin-Bergstrom International Airport');
INSERT INTO airport_city (airlineID, ap_name) VALUES('AA','Hartsfield-Jackson Atlanta International Airport');
INSERT INTO airport_city (airlineID, ap_name) VALUES('AA','Daniel K. Inouye International Airport');

INSERT INTO airport_city (airlineID, ap_name) VALUES('UAL','Louisville International airport');
INSERT INTO airport_city (airlineID, ap_name) VALUES('UAL','John F. Kennedy International airport');
INSERT INTO airport_city (airlineID, ap_name) VALUES('UAL','LaGuardia Airport');
INSERT INTO airport_city (airlineID, ap_name) VALUES('UAL','George Bush Intercontinental airport');
INSERT INTO airport_city (airlineID, ap_name) VALUES('UAL','San Francisco International airport');
INSERT INTO airport_city (airlineID, ap_name) VALUES('UAL','Tampa International airport');
INSERT INTO airport_city (airlineID, ap_name) VALUES('UAL','Austin-Bergstrom International Airport');
INSERT INTO airport_city (airlineID, ap_name) VALUES('UAL','Hartsfield-Jackson Atlanta International Airport');
INSERT INTO airport_city (airlineID, ap_name) VALUES('UAL','Daniel K. Inouye International Airport');

INSERT INTO airport_city (airlineID, ap_name) VALUES('DL','Louisville International airport');
INSERT INTO airport_city (airlineID, ap_name) VALUES('DL','John F. Kennedy International airport');
INSERT INTO airport_city (airlineID, ap_name) VALUES('DL','LaGuardia Airport');
INSERT INTO airport_city (airlineID, ap_name) VALUES('DL','George Bush Intercontinental airport');
INSERT INTO airport_city (airlineID, ap_name) VALUES('DL','San Francisco International airport');
INSERT INTO airport_city (airlineID, ap_name) VALUES('DL','Tampa International airport');
INSERT INTO airport_city (airlineID, ap_name) VALUES('DL','Austin-Bergstrom International Airport');
INSERT INTO airport_city (airlineID, ap_name) VALUES('DL','Hartsfield-Jackson Atlanta International Airport');
INSERT INTO airport_city (airlineID, ap_name) VALUES('DL','Daniel K. Inouye International Airport');

INSERT INTO airport_city (airlineID, ap_name) VALUES('WN','Louisville International airport');
INSERT INTO airport_city (airlineID, ap_name) VALUES('WN','LaGuardia Airport');
INSERT INTO airport_city (airlineID, ap_name) VALUES('WN','George Bush Intercontinental airport');
INSERT INTO airport_city (airlineID, ap_name) VALUES('WN','San Francisco International airport');
INSERT INTO airport_city (airlineID, ap_name) VALUES('WN','Tampa International airport');
INSERT INTO airport_city (airlineID, ap_name) VALUES('WN','Austin-Bergstrom International Airport');
INSERT INTO airport_city (airlineID, ap_name) VALUES('WN','Hartsfield-Jackson Atlanta International Airport');

## Q1

Create a table schema called `flights` with the following attributes
* flight_code representing a flight code with maximum 10 characters
* source as representing an aiport code with maximum 3 characters
* destination as representing an aiport code with maximum 3 characters
* status as a status with maximum 10 characters
* airlineid as representing an airline id with maximum 3 characters,

Insert the following data into your `flights` table

In [ ]:
INSERT INTO FLIGHT(flight_code, source, destination, status, airlineid) VALUES('AA2014','SDF','DFW', 'On-Time', 'AA');

INSERT INTO FLIGHT(flight_code, source, destination, status, airlineid) VALUES('AA2305','SDF','JFK', 'Delayed', 'AA');

INSERT INTO FLIGHT(flight_code, source, destination, status, airlineid) VALUES('UAL2555','SDF','LGA', 'Delayed', 'UAL');

INSERT INTO FLIGHT(flight_code, source, destination, status, airlineid) VALUES('DL2008','SDF','AUS', 'On-Time', 'DL');

INSERT INTO FLIGHT(flight_code, source, destination, status, airlineid) VALUES('DL2034','JFK','AUS', 'Delayed', 'DL');

INSERT INTO FLIGHT(flight_code, source, destination, status, airlineid) VALUES('DL2345','JFK','HNL', 'Delayed', 'DL');

INSERT INTO FLIGHT(flight_code, source, destination, status, airlineid) VALUES('WN634','JFK','TPA', 'Delayed', 'WN');

INSERT INTO FLIGHT(flight_code, source, destination, status, airlineid) VALUES('AA2874','LGA','ATL', 'Delayed', 'AA');

INSERT INTO FLIGHT(flight_code, source, destination, status, airlineid) VALUES('WN888','SFO','HNL', 'On-Time', 'WN');

INSERT INTO FLIGHT(flight_code, source, destination, status, airlineid) VALUES('DL7553','SFO','TPA', 'Delayed', 'DL');

INSERT INTO FLIGHT(flight_code, source, destination, status, airlineid) VALUES('AA7008','SFO','JFK', 'Delayed', 'AA');

INSERT INTO FLIGHT(flight_code, source, destination, status, airlineid) VALUES('AA7008','SFO','ATL', 'Delayed', 'AA');

INSERT INTO FLIGHT(flight_code, source, destination, status, airlineid) VALUES('UAL1212','SFO','IAH', 'On-Time', 'UAL');

## Q2

Create a query to count how many flights were delayed in total

What was the exact number of delayed flights?

Answer here

## Q3

Create a query to count how many source airlines had delayed flights.

Answer here

## Q4

Which source airline had the highest number of delayed flights? Which airline had the least? Modify your previous query to order your counts of delayed flights.

Answer here

## Q5

Create a query to count how many destination airlines had delayed flights. Which source airline had the highest number of delayed flights? Which airline had the least?

Answer here