In [ ]:
CREATE TABLE city(
    cname VARCHAR(15) primary key,
    state VARCHAR(15), 
    country VARCHAR(30),
    population INT
);


INSERT INTO city (cname, state, country, population) VALUES('Louisville','Kentucky','United states', 628594);
INSERT INTO city (cname, state, country, population) VALUES ('Fort Worth','Texas','United states', 935508);
INSERT INTO city (cname, state, country, population) VALUES('San Francisco', 'California', 'United states', 815201);
INSERT INTO city (cname, state, country, population) VALUES('Houston','Texas','United states', 2288000);
INSERT INTO city (cname, state, country, population) VALUES('New York city','New York','United states', 8468000);
INSERT INTO city (cname, state, country, population) VALUES('Tampa', 'Florida', 'United states', 387050);
INSERT INTO city (cname, state, country, population) VALUES('Austin', 'Texas', 'United states', 964177);
INSERT INTO city (cname, state, country, population) VALUES('Atlanta', 'Georgia', 'United states', 496461);
INSERT INTO city (cname, state, country, population) VALUES('Honolulu', 'Hawaii', 'United states', 345510);

In [ ]:

INSERT INTO airport (ap_name, state, country, cname, code, acres) VALUES('Louisville Muhammad Ali International Airport','Kentucky','United States','Louisville', 'SDF', 1500);
INSERT INTO airport (ap_name, state, country, cname, code, acres) VALUES('Dallas/Fort Worth International Airport','Texas','United States','Fort Worth', 'DFW', 17207 );
INSERT INTO airport (ap_name, state, country, cname, code, acres) VALUES('San Francisco International Airport','California', 'United States','San Francisco', 'SFO', 5207);
INSERT INTO airport (ap_name, state, country, cname, code, acres) VALUES('George Bush Intercontinental Airport','Texas','United States','Houston', 'IAH', 10000);
INSERT INTO airport (ap_name, state, country, cname, code, acres) VALUES('John F. Kennedy International Airport','New York','United States','New York city', 'JFK', 4930);
INSERT INTO airport (ap_name, state, country, cname, code, acres) VALUES('LaGuardia Airport','New York','United States','New York city', 'LGA', 680);
INSERT INTO airport (ap_name, state, country, cname, code, acres) VALUES('Tampa International Airport','Florida', 'United States','Tampa', 'TPA', 3300);
INSERT INTO airport (ap_name, state, country, cname, code, acres) VALUES('Austin-Bergstrom International Airport','Texas', 'United States','Austin', 'AUS', 4242);
INSERT INTO airport (ap_name, state, country, cname, code, acres) VALUES('Hartsfield-Jackson Atlanta International Airport','Georgia', 'United States','Atlanta', 'ATL', 4930);
INSERT INTO airport (ap_name, state, country, cname, code, acres) VALUES('Daniel K. Inouye International Airport','Hawaii', 'United States','Honolulu', 'HNL', 4220);