# Analyze Genre by Year

We are data analysts at the streaming service `Metpicks`. This company specializes in media from 1990 - 2005. To gain more insight into the average rating and runtime of different media types. we will be analyzing the dataframe `imdb_processed.csv` dataset.

Implement each line of pseudocode in each respective code-block, and then utilize your outputs to answer questions 1 through 4.

If you are stuck on any line of pseudocde, be sure to utilize stackoverflow and google. This will be submitted via google classroom.

In [ ]:
import pandas as pd

# read in your imdb_processed csv into a dataframe

In [ ]:
# print out the first 5 rows of this dataframe

In [ ]:
# print out the length of this dataframe

In [ ]:
# analyze the statistics of this dataframe

In [ ]:
# check how many null values your dataframe contains using "info()"

In [ ]:
# drop all null values inplace

In [ ]:
# print out the length of this dataframe after this drop

In [ ]:
# filter this data to only include rows where years are after 1990

In [ ]:
# print out the first 5 rows of this filtered dataframe

In [ ]:
# print out the length of this dataframe

In [ ]:
# group your dataframe into seperate groups according to "kind"

In [ ]:
# print out all your media groups

In [ ]:
# calculate the mean rating of each group


# plot this dataframe of mean ratings as a bar-graph

In [ ]:
# calculate the mean runtime of each group


# plot this dataframe of mean runtime as a bar-graph

## Q1 

Which media type has the highest mean ranking?

## Q2

Which media type has the lowest mean ranking?

## Q3

Which media type has the highest mean runtime?

## Q4


Which media type has the lowest mean runtime?

## Challenge

Transform your column `genre` into multiple columns, where `1` indicates presnce of this genre.

Read more about this setup here: https://machinelearningmastery.com/why-one-hot-encode-data-in-machine-learning/ 

Utilize stackoverflow and the internet to solve this challenge