## Coding Exercise

For the next upcoming weeks, our knowledge of pandas & basic Python syntax will be tested as we implement data-pipelines and various analyses.

To refresh our pandas skills, let's implement the following non-trivial lines of pseudocode to reveal information regarding our dataset describing top-soccer/football scorers internationally.

To find out more information regarding this dataset, check out: https://www.kaggle.com/datasets/mohamedhanyyy/top-football-leagues-scorers

Implement your code in `individual_coding_exercise.ipynb`.

##

## Missing Values

In [35]:
import pandas as pd
# load in your dataset located in `data/scorers.csv`
df = pd.read_csv("../data/scorers.csv")

df.head()

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19.0,16.0,1849.0,11.0,48.0,20.0,2.47,1.03,2016
1,Spain,La Liga,(BAR),Antoine Griezmann,36.0,0.0,3129.0,16.0,88.0,41.0,2.67,1.24,2016
2,Spain,La Liga,(ATL),Luis Suarez,34.0,1.0,2940.0,28.0,120.0,57.0,3.88,1.84,2016
3,Spain,La Liga,(CAR),Ruben Castro,32.0,3.0,2842.0,NaN,117.0,42.0,3.91,1.40,2016
4,Spain,La Liga,(VAL),Kevin Gameiro,21.0,10.0,1745.0,13.0,50.0,23.0,2.72,1.25,2016

In [5]:
missing = df.loc[3, "Goals"]
print(missing)

nan

In [ ]:
missing_goals = df[df["Goals"].isna()]

len(missing_goals)

##

In [36]:
mean  =  df["Goals"].mean()
mean

nan

In [ ]:
above_avg_goals = df[df["Goals"] > mean].groupby(["Country", "Year"])["Goals"].count().sort_values()
above_avg_goals

In [6]:
# load in your dataset located in `data/scorers_full.csv`
full = pd.read_csv("../data/scorers_full.csv")

full["Goals"].mean()

11.830015313935682

In [28]:
df.dropna(subset="Goals", inplace=True)
df.head()

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19.0,16.0,1849.0,11.0,48.0,20.0,2.47,1.03,2016
1,Spain,La Liga,(BAR),Antoine Griezmann,36.0,0.0,3129.0,16.0,88.0,41.0,2.67,1.24,2016
2,Spain,La Liga,(ATL),Luis Suarez,34.0,1.0,2940.0,28.0,120.0,57.0,3.88,1.84,2016
4,Spain,La Liga,(VAL),Kevin Gameiro,21.0,10.0,1745.0,13.0,50.0,23.0,2.72,1.25,2016
5,Spain,La Liga,(JUV),Cristiano Ronaldo,29.0,0.0,2634.0,25.0,162.0,60.0,5.84,2.16,2016

In [30]:
missing_goals = df[df["Goals"].isna()]

len(missing_goals)

0

In [27]:
df.drop(columns=["Substitution"], inplace=True)
df.head()

KeyError: "['Substitution'] not found in axis"

In [29]:
df["Goals"].mean()

11.772802653399669

In [ ]:
df = pd.read_csv("../data/scorers.csv")
mean  =  df["Goals"].mean(skipna=False)
mean