## Coding Exercise

I have a list of tuples that contain two numbers each. How can I programmatically "flatten" this list. That is how can I turn the following two-dimensional list:

```python
[(1, 2), (3, 5), (4, 9), (8, 1), (3, 4)]
```

Into the following one-dimensional list:

```python 
[1, 2, 3, 5, 4, 9, 8, 1, 3, 4]
```

Assume the following:
* Our list of tuples is called `tups`.
* There will always only be 2 elements in each tuple.
* While we have example data, our list will not always have the same length (you cannot use `for i in range`)

In [35]:
tups = [(1, 2), (3, 5), (4, 9), (8, 1), (3, 4)]

[1, 2, 3, 5, 4, 9, 8, 1, 3, 4]

## Solution & Explanation

To "unfold" this 2D data-structure, we must firstly loop through our list of tuples.

```python
for t in tups:
    print(t)
```

At this iteration of our program, we will be able to get each tuple and assign it to the variable `t`. This association allows us to perform discrete methods on the tuple data-structure located inside of this list.

From there we can simply append the first and last element of `t` to a new empty list.

```python
newlst = []
for t in tups:
    newlst.append(t[0])
    newlst.append(t[1])
```

In [ ]:
newlst = []
for t in tups:
    newlst.append(t[0])
    newlst.append(t[1])

## Pandas

So far we’ve learned about various Python packages. These packages allow us to not “reinvent” the wheel and whip up functional code in the least amount of time & effort.

One of those packages is Pandas (Panel Data). Developed by researcher while working at financial research firm.

What does pandas allow us to do?
* Data manipulation, visualization, analysis all in one package.
* No more `csv` module!
* Low barrier of entry for maximum functionality
* Same data manipulation we do in Excel & SQL but in Python

Install pandas in your terminal via
* `pip3 install pandas` (MacOS)
* `pip install pandas` (Windows)

## OOP Review

In its simplest form, Python is just a sequence of methods being called on objects.
This is the core of Object Oriented Programming.

```python
x = []
x.append(3)
x.remove(3)
```

If we understand this pattern, we can apply it to any other package and even other OOP programming languages. 

Namely, we can apply this pattern to pandas in order to do complex operations using just pre-built methods.

In pandas our most commonly used object is a DataFrame

## DataFrames

DataFrames are your source of data that you will transform, mutate, split, and feed into machine learning models.
To create our DataFrame we have a number of options.
* Load in from csv file
* Create from dictionary
* Create from list

## List of Lists

This dataframe will describe orders from a website with columns `OrderID`, `Item`, `Quantity`.

In [47]:
import pandas as pd
# Firstly, let’s create a list of 3 lists:
orders = [[0, "Humidifer", 1], [1, "Mug", 4], [2, "Lamp", 1]]

# Next, let’s create a list of column names.
names = ["OrderID", "Name", "Quantity"]

# Let’s combine these two data structures into a DataFrame to get the following data-structure.
df = pd.DataFrame(orders, columns = names)

# set its index.
df.set_index("OrderID", inplace=True)

              Name  Quantity
OrderID
0        Humidifer         1
1              Mug         4
2             Lamp         1

## Mutating a DataFrame

Notice how this did not actually change our dataframe. What must be going on? 

For some functions, we must specify `inplace = True` for our changes to stick to the original dataframe.

This shows that when we are mutating our dataframes. We must do one of the two:
* Save your mutated dataframe into a new variable (preferably of a different name). 
* Specify `inplace = True`. We only do this for small mutations that are related to our set-up.


We’ll see this come up again.

## Dictionary 

This dataframe will be the same as before, orders from a website with columns `OrderID`, `Item`, `Quantity`.

In [2]:
# Firstly, let’s create a dictionary where each column is a string key, and each value is a 
# list describing the data in our column.
data = { "OrderID": [0, 1, 2], "Name": ["Humidifer", "Mug", "Lamp"] , "Quantity":[1, 4, 1] }

# We simply pass this dictionary into our DataFrame.
df = pd.DataFrame()

# how do we set its index?
df.set_index("OrderID", inplace=True)

SyntaxError: unmatched '}' (2525725143.py, line 3)

## CSV

Most often, we find ourselves simply loading in data from an already present CSV file.

In [51]:
# load in csv file
import pandas as pd
df = pd.read_csv("../data/top_movies.csv")
df

                   Movie_Name  Release_date  Rating
0    The Shawshank Redemption          1994     9.2
1               The Godfather          1972     9.2
2             The Dark Knight          2008     9.0
3       The Godfather Part II          1974     9.0
4                12 Angry Men          1957     9.0
..                        ...           ...     ...
245               Dersu Uzala          1975     8.0
246                   Aladdin          1992     8.0
247                  The Help          2011     8.0
248            The Iron Giant          1999     8.0
249                    Gandhi          1982     8.0

[250 rows x 3 columns]

## Why bother with first two?

If we are almost always loading in csv files, why do we even bother with the other approaches (create from list of lists, dictionary)?
* Sometimes we create are creating a DataFrame from another non-csv data source (API, bs4)
* Sometimes we are building a DataFrame from another DataFrame
* Base Answer: Knowing a variety of data representations make us more powerful data engineers.
* Shallow Answer: Employers expect us to.

## MetaData

What is metadata? Essentially, it is another word for the statistics of our dataset.
Ex: How many rows do we have? How many columns? 

We have a plethora of functions based on our needs.
* Get dimensions of dataframe.
* Get column names of dataframe.
* Get data types of dataframe.
* Get summary statistics of dataframe

In [70]:
import pandas as pd
df = pd.read_csv("../data/top_movies.csv")

# print out dimensions of your data
print(df.shape)

# print out columns of your data
print(df.columns)

# get info on your data
print(df.info())

# get summary statistics on your data
df.describe()

(250, 3)
Index(['Movie_Name', 'Release_date', 'Rating'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Movie_Name    250 non-null    object
 1   Release_date  250 non-null    int64
 2   Rating        250 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.0+ KB
None

       Release_date      Rating
count    250.000000  250.000000
mean    1986.488000    8.252800
std       25.225287    0.236125
min     1921.000000    8.000000
25%     1966.250000    8.100000
50%     1994.000000    8.200000
75%     2006.750000    8.400000
max     2022.000000    9.200000

## Features & Samples

Features indicate the details of a sample. Details are encapsulated in columns.

Samples indicate discrete and separate data points. Each row describes a sample.

## Accessing Data

One of the greatest utilities of pandas is that we can access data within a DataFrame using the same principles that have been guiding us so far.
* Indexing
* Key-Value Accessing
* Looping

## Indexing

Using index position to get the values of a dataframe.

Using the same principle as `lists`, we can access rows using the `loc` function & square bracket notation!

Keep in mind however that we are interacting with a 2D dataset, so it would be nice if we can use two dimensions to access data. (RC Cola)

In [71]:
x = ["Hyundai", "Honda", "BMW", "Toyota", "Ford", "Chevrolet"]

# how do I get the 3rd element?

x[2]

Movie_Name      The Dark Knight
Release_date               2008
Rating                      9.0
Name: 2, dtype: object

In [ ]:
import pandas as pd
df = pd.read_csv("../data/top_movies.csv")

# get the 3rd row of this df
df.iloc[2]

# get the 3rd row of the "Movie_Name" column
df.iloc[2, "Movie_Name"]

## Key-Values (Columns)

Just as we access the values of keys in a dictionary, we can access the data in one column by using similar syntax.

In [73]:
import pandas as pd

data = {
    "make": ["Toyota", "Honda", "Ford"],
    "year": ["2021", "2011", "2020"],
    "model": ["Camry XLE", "CR-V EX", "Explorer"],
    "price": [24_000, 11_000, 27_000],
    "status": ["used", "used", "used"]
}

# how do I get the price list?
data["price"]

0      The Shawshank Redemption
1                 The Godfather
2               The Dark Knight
3         The Godfather Part II
4                  12 Angry Men
                 ...
245                 Dersu Uzala
246                     Aladdin
247                    The Help
248              The Iron Giant
249                      Gandhi
Name: Movie_Name, Length: 250, dtype: object

In [ ]:
import pandas as pd
df = pd.read_csv("../data/top_movies.csv")

# get the "Movie_Name" column
df["Movie_Name"]

## Looping

Doing these discrete actions and queries for data is great.

However we can do even more operations if we know how to loop through a DataFrame. What does this result in?

In [ ]:
for row in df:
    print(row)

Just like a dictionary, this gives only column names.

To get data we have a # of options. For now we will start using `iterrows()`

In [76]:
df = pd.read_csv("../data/top_movies.csv")
# loop using iterrows
for index, row in df.iterrows():
    print(row["Movie_Name"])

The Shawshank Redemption
The Godfather
The Dark Knight
The Godfather Part II
12 Angry Men
Schindler's List
The Lord of the Rings: The Return of the King
Pulp Fiction
The Lord of the Rings: The Fellowship of the Ring
Il buono, il brutto, il cattivo
Forrest Gump
Fight Club
The Lord of the Rings: The Two Towers
Inception
The Empire Strikes Back
The Matrix
Goodfellas
One Flew Over the Cuckoo's Nest
Se7en
Shichinin no samurai
It's a Wonderful Life
The Silence of the Lambs
Cidade de Deus
Saving Private Ryan
La vita è bella
Interstellar
The Green Mile
Star Wars
Terminator 2: Judgment Day
Back to the Future
Sen to Chihiro no kamikakushi
Psycho
The Pianist
Gisaengchung
Léon
The Lion King
Gladiator
American History X
The Departed
The Usual Suspects
The Prestige
Whiplash
Casablanca
Seppuku
The Intouchables
Hotaru no haka
Modern Times
Once Upon a Time in the West
Rear Window
Nuovo Cinema Paradiso
Alien
City Lights
Apocalypse Now
Memento
Raiders of the Lost Ark
Django Unchained
WALL·E
The Lives of Others
Sunset Blvd.
Paths of Glory
The Great Dictator
The Shining
Avengers: Infinity War
Witness for the Prosecution
Aliens
Spider-Man: Into the Spider-Verse
American Beauty
Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb
The Dark Knight Rises
Oldeuboi
Amadeus
Joker
Inglourious Basterds
Coco
Toy Story
Braveheart
Das Boot
Avengers: Endgame
Mononoke-hime
Once Upon a Time in America
Good Will Hunting
Top Gun: Maverick
Kimi no Na wa.
Requiem for a Dream
Singin' in the Rain
3 Idiots
Toy Story 3
Tengoku to jigoku
Star Wars: Episode VI - Return of the Jedi
Capharnaüm
Eternal Sunshine of the Spotless Mind
2001: A Space Odyssey
Reservoir Dogs
Jagten
Idi i smotri
Citizen Kane
M - Eine Stadt sucht einen Mörder
Lawrence of Arabia
North by Northwest
Vertigo
Le fabuleux destin d'Amélie Poulain
A Clockwork Orange
The Apartment
Ikiru
Double Indemnity
Full Metal Jacket
Hamilton
Scarface
The Sting
To Kill a Mockingbird
Incendies
Up
Heat
Taxi Driver
Jodaeiye Nader az Simin
Metropolis
L.A. Confidential
Snatch
Die Hard
Ladri di biciclette
Indiana Jones and the Last Crusade
Taare Zameen Par
1917
Der Untergang
Per qualche dollaro in più
Dangal
Batman Begins
The Kid
Some Like It Hot
The Father
All About Eve
Green Book
The Wolf of Wall Street
Judgment at Nuremberg
Ran
Casino
Pan's Labyrinth
Unforgiven
There Will Be Blood
The Truman Show
The Sixth Sense
A Beautiful Mind
Spider-Man: No Way Home
Yôjinbô
Shutter Island
Monty Python and the Holy Grail
The Treasure of the Sierra Madre
Jurassic Park
The Great Escape
Rashômon
Kill Bill: Vol. 1
No Country for Old Men
Finding Nemo
The Thing
The Elephant Man
Chinatown
Raging Bull
Gone with the Wind
V for Vendetta
Inside Out
Lock, Stock and Two Smoking Barrels
Dial M for Murder
El secreto de sus ojos
Hauru no ugoku shiro
The Bridge on the River Kwai
Three Billboards Outside Ebbing, Missouri
Trainspotting
Warrior
Fargo
Gran Torino
Prisoners
Tonari no Totoro
Million Dollar Baby
Catch Me If You Can
Bacheha-Ye aseman
The Gold Rush
Blade Runner
On the Waterfront
Before Sunrise
12 Years a Slave
Harry Potter and the Deathly Hallows - Part 2
Ben-Hur
Smultronstället
The Third Man
Gone Girl
The General
The Grand Budapest Hotel
The Deer Hunter
In the Name of the Father
Barry Lyndon
Le salaire de la peur
Klaus
Hacksaw Ridge
Mr. Smith Goes to Washington
Sherlock Jr.
Salinui chueok
Relatos salvajes
Det sjunde inseglet
Room
Mad Max: Fury Road
Mary and Max.
How to Train Your Dragon
The Big Lebowski
Monsters, Inc.
Jaws
Dead Poets Society
La passion de Jeanne d'Arc
Tôkyô monogatari
Hotel Rwanda
Ford v Ferrari
Rocky
Platoon
Stand by Me
Spotlight
The Terminator
Logan
Ratatouille
Pather Panchali
Rush
Network
Into the Wild
The Wizard of Oz
Before Sunset
Groundhog Day
The Exorcist
The Best Years of Our Lives
The Incredibles
La battaglia di Algeri
To Be or Not to Be
Jai Bhim
Hachi: A Dog's Tale
Babam ve Oglum
The Grapes of Wrath
Pirates of the Caribbean: The Curse of the Black Pearl
La haine
Amores perros
Rebecca
Cool Hand Luke
Everything Everywhere All at Once
Les quatre cents coups
Ah-ga-ssi
The Sound of Music
It Happened One Night
Persona
Life of Brian
Dersu Uzala
Aladdin
The Help
The Iron Giant
Gandhi