## SQL Exercises

Set up your database by placing the following queries in the following compiler: https://onecompiler.com/postgresql

Create the queries listed in questions 1 through 5.

In [ ]:
create table bakers(
      baker        varchar(10) primary key
      , fullname   varchar(100)
      , age        int
      , occupation varchar(100)
      , hometown   varchar(100)
);


insert into bakers values('Antony','Antony Amourdoux',30,'Banker','London');
insert into bakers values('Briony','Briony Williams',33 ,'Full-time parent','Bristol');
insert into bakers values('Dan','Dan Beasley-Harling',36 ,'Full-time parent','London');
insert into bakers values('Imelda','Imelda McCarron',33 ,'Countryside recreation officer','County Tyrone');
insert into bakers values('Jon','Jon Jenkins',47 ,'Blood courier','Newport');
insert into bakers values('Karen','Karen Wright',60 ,'In-store sampling assistant','Wakefield');
insert into bakers values('Kim-Joy','Kim-Joy Hewlett',27 ,'Mental health specialist','Leeds');
insert into bakers values('Luke','Luke Thompson',30 ,'Civil servant/house and techno DJ','Sheffield');
insert into bakers values('Manon','Manon Lagr√®ve',26 ,'Software project manager','London');
insert into bakers values('Rahul','Rahul Mandal',30 ,'Research scientist','Rotherham');
insert into bakers values('Ruby','Ruby Bhogal',29 ,'Project manager','London');
insert into bakers values('Terry','Terry Hartill',56 ,'Retired air steward','West Midlands');

## Q1

Create a query that gets the name of bakers older than 25.

## Q2

Create a query that gets the uppercased occupation of bakers older than 25.

## Q3

Create a query that gets the name of all bakers from Bristol.

## Q4

Create a query that gets the fullname and occupation of all bakers from London who are between the ages of 40 and 50.

## Q5

Get all bakers whose name starts with the letter K.

Consult the internet to create a solution. Alternatively, check out the following link: https://stackoverflow.com/questions/10156965/select-all-where-first-letter-starts-with-b