## 511. Game Play Analysis I

Write an SQL query to report the first login date for each player.

Return the result table in any order.

Consider the following questions when making this query
* How should I group this table to get all the logins of individual users?
* Once I have these groups, which aggregate function can I apply to the event_data column to get the first date.
 * MAX()
 * MIN()
 * COUNT(*)
 * STTDEV()

Submit solution here: https://leetcode.com/problems/game-play-analysis-i/description/

## Components

* We’ve been working with various queries such as 

```sql 
SELECT … FROM … WHERE … ;
```

```sql 
CREATE TABLE …;
```
, etc

However we have yet to formally define these different types of syntax.

If you think about it, we are doing fundamentally different things with these commands:
* `SELECT … FROM … WHERE …` : Querying or requesting data
* `INSERT INTO …` : Manipulating the data
* `CREATE TABLE …` : Creating the datas

This reveals that there are 3 fundamental groups of commands within SQL! They are

* Query Language : Your requests for data in a table.
	* ex: SELECT * FROM bakers WHERE hometown = ‘London’;
* Data manipulation language (DML) : Modification of your existent tables 
	* ex: INSERT INTO bakers VALUES(‘Bob’, 34, … )
* Data definition language (DDL): Create new tables
	* ex: CREATE TABLE bakers ( … ) ;

Before we mvoe forward, let's populate our table with data:

In [ ]:
INSERT INTO student VALUES('Bob', True, 2.89, 'C');
INSERT INTO student VALUES('Frank', False, 2.89, 'Java');
INSERT INTO student VALUES('Alma', True, 3.52, 'Python');
INSERT INTO student VALUES('Charles', False, 3.02, 'Python');

## DDL

We’ve learned one command of DDL which is create, let’s see what other queries are available.

* CREATE TABLE … ;
* ALTER TABLE … ;
* DROP TABLE … ;

## DDL: ALTER

The alter command is a highly versatile data-definition-language command used to change the definition of a table. This includes:

* Changing column names
* Changing column data-types
* Changing table name
* Adding columns
* Removing columns

The structure of ALTER mostly follows this structure:

```sql
ALTER TABLE … 
action ;
```

action describes any type of action we can take on our table:
* ADD COLUMN …
* DROP COLUMN …
* ALTER COLUMN …

Changing column names:

In [ ]:
ALTER TABLE student 
RENAME COLUMN course TO course_name;

Changing column data-types:

In [ ]:
ALTER TABLE student 
ALTER COLUMN name TYPE VARCHAR(100);

However this does not always work ...

In [ ]:
ALTER TABLE student 
ALTER COLUMN name TYPE INT;

Changing table name:

In [ ]:
ALTER TABLE student 
RENAME to fellow;

Adding columns

In [ ]:
ALTER TABLE fellow
ADD COLUMN remote BOOLEAN DEFAULT TRUE;

Removing columns

In [ ]:
ALTER TABLE fellow
DROP COLUMN completed;

## DDL: DROP

This query is used for simply dropping (deleting) tables.

```sql
DROP TABLE fellow;
```

Do not run this command just yet, as we need to continue to interact with our database.

## DML

We’ve learned one command of DML which is INSERT, let’s see what other queries are available.
* INSERT … ;
* UPDATE … ;
* DELETE … ;

## DML: UPDATE

The update command is a data-manipulation-language command used to change tuples or rows of the table.
* Update all rows
* Update rows where a condition is met

Addl. functionality explained here: https://www.postgresql.org/docs/current/sql-update.html

Let’s say we want to change all the values of the `remote` column to FALSE

In [ ]:
UPDATE fellow 
SET remote = FALSE;

Let’s say we want just want to set the remote column of all `Python` fellows to be TRUE

In [ ]:
UPDATE fellow 
SET remote = TRUE
... ;

## DML: DELETE

The delete command is a data-manipulation-language command much like the `update` command.
* Delete all rows
* Delete rows where a condition is met

Addl. functionality explained here: https://www.postgresql.org/docs/current/sql-delete.html

Let’s say we want to simply delete all rows from our database

In [ ]:
DELETE FROM fellow;

Let’s say we want to simply delete all rows from our database where fellows are enrolled in a Java course.

In [ ]:
DELETE FROM fellow
... ;

## JOIN

Let’s create a table describing each completed assignment from a fellow.

In [ ]:
CREATE TABLE lab(
    name VARCHAR(100),
    course VARCHAR(50),
    lab_name VARCHAR(50),
    grade FLOAT
);

In [ ]:
INSERT INTO lab VALUES('Bob', 'C', 'Pointers', 80.5);
INSERT INTO lab VALUES('Bob', 'C', 'Structs', 100);

INSERT INTO lab VALUES('Alma', 'Python', 'Functions', 100);
INSERT INTO lab VALUES('Charles', 'Python', 'Functions', 85);
INSERT INTO lab VALUES('Jazmin', 'Python', 'Functions', 100);

INSERT INTO lab VALUES('Alma', 'Python', 'Objects', 95);
INSERT INTO lab VALUES('Charles', 'Python', 'Objects', 80);
INSERT INTO lab VALUES('Jazmin', 'Python', 'Objects', 80);

In set theory & SQL, we have a variety of JOINS that can help us further extrapolate information from our tables.

* A INNER JOIN B
* A LEFT OUTER JOIN B
* A RIGHT OUTER JOIN B
* A FULL OUTER JOIN B

## INNER JOIN

Select rows that satisfy a join condition, eliminates all rows that do not satisfy the join condition.

In [ ]:
SELECT * 
FROM fellow f JOIN lab l 
ON f.name = l.name ;

## LEFT OUTER JOIN

Selects all rows in the inner join as well as the rows in A that do not join with any rows in in B.

In [ ]:
SELECT * 
FROM fellow f LEFT JOIN lab l 
ON f.name = l.name ;

## RIGHT OUTER JOIN

Selects all rows in the inner join as well as the rows in B that do not join with any rows in in A.

In [ ]:
SELECT * 
FROM fellow f RIGHT JOIN lab l 
ON f.name = l.name ;

## FULL OUTER JOIN

selects all rows in the inner join as well as the rows from A and B that do not participate in the inner join.

In [ ]:
SELECT * 
FROM fellow f FULL JOIN lab l 
ON f.name = l.name ;

## SQL Efficiency 

* While it is important to write “focused” SQL queries, we should not worry too much about algorithmic complexity.
* SQL is a declarative programming language and has built-in query optimizers (QOPT) which choose the lowest cost algorithm for a query.
* Therefore, we no longer consider questions such as time or space complexity when dealing with queries. 
* Instead we consider the following:
 * Is my query easy to understand (by a human)?
 * Can my query be more simple?
 * Avoid sorts (ORDER BY) unless necessary. We prefer to use indices.
    * https://www.sqlshack.com/sql-index-overview-and-strategy 
    * https://aaronbos.dev/posts/sql-index-introduction 
 * Consider if JOINS are truly necessary, or if there are alternatives to extracting information without an additional table.


Prioritize simplicity