## Connecting Flights

Not only is the JOIN query useful for the information it reveals when joining two tables, but it is also useful to look for the *absence* of information (null values). The presence of null values when joining indicate that the absence of information from one table to another.

Within this exercise, we will explore if direct flights are possible between two cities using the JOIN query.

Create the necessary queries for questions 1 - 5 in order to answer all questions.

Run the SQL query below within your `flights` database before starting this exercise.

In [ ]:
DROP TABLE IF EXISTS airline;
DROP TABLE IF EXISTS airline_city;
DROP TABLE IF EXISTS flight;

CREATE TABLE airline(
    airlineID VARCHAR(3) primary key,
    al_name VARCHAR(50),
    al_code VARCHAR(3)
);

CREATE TABLE airline_city(
    airlineID VARCHAR(3),
    ap_name VARCHAR(100),
    code CHAR(3),
    PRIMARY KEY(airlineID, ap_name)
);

CREATE TABLE flight( 
    flight_code VARCHAR(10), 
    source VARCHAR(3), 
    destination VARCHAR(3), 
    status VARCHAR(10), 
    airlineid VARCHAR(3) 
);

INSERT INTO airline (airlineID, al_name, al_code) VALUES('AA','American airlines','001');
INSERT INTO airline (airlineID, al_name, al_code) VALUES('UAL','United Airlines','016');
INSERT INTO airline (airlineID, al_name, al_code) VALUES('DL','Delta Air Lines','006');
INSERT INTO airline (airlineID, al_name, al_code) VALUES('WN','Southwest Airlines Co.','052');

INSERT INTO airline_city VALUES('AA','Louisville International airport', 'SDF');
INSERT INTO airline_city VALUES('AA','John F. Kennedy International airport', 'JFK');
INSERT INTO airline_city VALUES('AA','LaGuardia Airport', 'LGA');
INSERT INTO airline_city VALUES('AA','George Bush Intercontinental airport', 'IAH');
INSERT INTO airline_city VALUES('AA','Tampa International airport', 'TPA');
INSERT INTO airline_city VALUES('AA','Austin-Bergstrom International Airport', 'AUS');
INSERT INTO airline_city VALUES('AA','Hartsfield-Jackson Atlanta International Airport', 'ATL');

INSERT INTO airline_city VALUES('UAL','Louisville International airport', 'SDF');
INSERT INTO airline_city VALUES('UAL','John F. Kennedy International airport', 'JFK');
INSERT INTO airline_city VALUES('UAL','LaGuardia Airport', 'LGA');
INSERT INTO airline_city VALUES('UAL','George Bush Intercontinental airport', 'IAH');
INSERT INTO airline_city VALUES('UAL','San Francisco International airport', 'SFO');
INSERT INTO airline_city VALUES('UAL','Tampa International airport', 'TPA');
INSERT INTO airline_city VALUES('UAL','Austin-Bergstrom International Airport', 'AUS');
INSERT INTO airline_city VALUES('UAL','Hartsfield-Jackson Atlanta International Airport', 'ATL');
INSERT INTO airline_city VALUES('UAL','Daniel K. Inouye International Airport', 'HNL');

INSERT INTO airline_city VALUES('DL','Louisville International airport', 'SDF');
INSERT INTO airline_city VALUES('DL','Dallas/Fort Worth International Airport', 'DFW');
INSERT INTO airline_city VALUES('DL','John F. Kennedy International airport', 'JFK');
INSERT INTO airline_city VALUES('DL','LaGuardia Airport', 'LGA');
INSERT INTO airline_city VALUES('DL','San Francisco International airport', 'SFO');
INSERT INTO airline_city VALUES('DL','Austin-Bergstrom International Airport', 'AUS');
INSERT INTO airline_city VALUES('DL','Hartsfield-Jackson Atlanta International Airport', 'ATL');
INSERT INTO airline_city VALUES('DL','Daniel K. Inouye International Airport', 'INH');

INSERT INTO airline_city VALUES('WN','Louisville International airport', 'SDF');
INSERT INTO airline_city VALUES('WN','LaGuardia Airport', 'LGA');
INSERT INTO airline_city VALUES('WN','George Bush Intercontinental airport', 'IAH');
INSERT INTO airline_city VALUES('WN','Dallas/Fort Worth International Airport', 'DFW');
INSERT INTO airline_city VALUES('WN','San Francisco International airport', 'SFO');
INSERT INTO airline_city VALUES('WN','Tampa International airport', 'TPA');
INSERT INTO airline_city VALUES('WN','Austin-Bergstrom International Airport', 'AUS');
INSERT INTO airline_city VALUES('WN','Hartsfield-Jackson Atlanta International Airport', 'ATL');

After running the above queries, run the below `INSERT` statements to populate your `flight` table.

While the airline will always operate out of the **source** airport, we are not sure if they operate in the **destination** airport. Create & run the queries described in questions 1 through 5 to figure out which flights are impossible to fulfill.

In [ ]:
INSERT INTO flight VALUES('AA6342','SDF','DFW', 'On-Time', 'AA');
INSERT INTO flight VALUES('AA2348','SDF','JFK', 'On-Time', 'AA');
INSERT INTO flight VALUES('AA8411','AUS','SFO', 'On-Time', 'AA');
INSERT INTO flight VALUES('AA1700','LGA','DFW', 'On-Time', 'AA');
INSERT INTO flight VALUES('AA2446','IAH','AUS', 'On-Time', 'AA');
INSERT INTO flight VALUES('AA0278','TPA','HNL', 'On-Time', 'AA');

INSERT INTO flight VALUES('WN464','TPA','JFK', 'On-Time', 'WN');
INSERT INTO flight VALUES('WN636','LGA','ATL', 'On-Time', 'WN');
INSERT INTO flight VALUES('WN306','IAH','HNL', 'On-Time', 'WN');
INSERT INTO flight VALUES('WN533','LGA','TPA', 'On-Time', 'WN');
INSERT INTO flight VALUES('WN767','SFO','LGA', 'On-Time', 'WN');
INSERT INTO flight VALUES('WN953','DFW','ATL', 'On-Time', 'WN');
INSERT INTO flight VALUES('WN872','TPA','AUS', 'On-Time', 'WN');

INSERT INTO flight VALUES('DL6100','SDF','DFW', 'On-Time', 'DL');
INSERT INTO flight VALUES('DL0283','JFK','TPA', 'On-Time', 'DL');
INSERT INTO flight VALUES('DL2700','ATL','INH', 'On-Time', 'DL');
INSERT INTO flight VALUES('DL1429','SFO','AUS', 'On-Time', 'DL');
INSERT INTO flight VALUES('DL248','JFK','AUS', 'On-Time', 'DL');
INSERT INTO flight VALUES('DL3329','LGA','IAH', 'On-Time', 'DL');

INSERT INTO flight VALUES('UAL398','HNL','JFK', 'On-Time', 'UAL');
INSERT INTO flight VALUES('UAL265','ATL','AUS', 'On-Time', 'UAL');
INSERT INTO flight VALUES('UAL248','SFO','LGA', 'On-Time', 'UAL');
INSERT INTO flight VALUES('UAL768','SDF','DFW', 'On-Time', 'UAL');
INSERT INTO flight VALUES('UAL109','HNL','TPA', 'On-Time', 'UAL');
INSERT INTO flight VALUES('UAL710','JFK','ATL', 'On-Time', 'UAL');
INSERT INTO flight VALUES('UAL512','HNL','IAH', 'On-Time', 'UAL');

## Q1

Since all airports always have a 3-character code, let's change the VARCHAR(3) attribute type into CHAR(3).

## Q2

Add a column to the `flight` table called `possible` and set all the values to be `TRUE`.

## Q3

Drop the column `status` from the `flight` table.

## Q4

Using the `LEFT JOIN` clause, create a table that reveals which flights are possible by joining the `flight` and `airline_city` tables. Consider which attribute you should join on in order to reveal which flights are impossible.

## Q5

Reveal the count of null flights from groups of airlines from the `flight` table by expanding the previous query to include the `count(*)` aggregate, a `WHERE` clause to look for NULL values, and the `GROUP BY` clause.

## Q6 (Challenge)

Consider the following documentation describing how to choose a good primary key: https://www.itprotoday.com/sql-server/sql-design-choosing-primary-key

Using this knowledge, what would be a good primary key(s) for the `flight` table?

Answer here

## Q7 (Challenge)

Using postgres documentation on the `ALTER` clause & your ability to google, alter the `flight` table to indicate that your chosen attribute(s) should be the primary key

https://www.postgresql.org/docs/current/sql-altertable.html

## Q8 (Challenge)

A unique postgresql feature is the ability to `UPDATE` rows using subqueries. 

Using your query that finds which flights are impossible (via the `LEFT JOIN`), conditionally set the `possible` attribute to be false where we find the `airlineid` to be `NULL`.

https://stackoverflow.com/questions/6256610/updating-table-rows-in-postgres-using-subquery

## Q9 (Challenge)

Read up on this blog that describes what an ERD diagram is: https://www.smartdraw.com/entity-relationship-diagram/

Using the section titled `Styles of Cardinality`, how would you explain the relationship between the `airline` table and the `flight` table.