## SQL II Exercises

Set up your database by placing the following queries in the following compiler: https://onecompiler.com/postgresql

Create the queries listed in questions 1 through 3.

For additional challenge, try out questions 3 - 6.

In [ ]:
CREATE TABLE bakers(
      baker        varchar(10) primary key
      , fullname   varchar(100)
      , age        int
      , occupation varchar(100)
      , hometown   varchar(100)
);

insert into bakers values('Antony','Antony Amourdoux',30,'Banker','London');
insert into bakers values('Briony','Briony Williams',33 ,'Full-time parent','Bristol');
insert into bakers values('Dan','Dan Beasley-Harling',36 ,'Full-time parent','London');
insert into bakers values('Imelda','Imelda McCarron',33 ,'Countryside recreation officer','County Tyrone');
insert into bakers values('Jon','Jon Jenkins',47 ,'Blood courier','Newport');
insert into bakers values('Karen','Karen Wright',60 ,'In-store sampling assistant','Wakefield');
insert into bakers values('Karin','Karin Right',60 ,'In-store sampling manager','Wakefield');
insert into bakers values('Kim-Joy','Kim-Joy Hewlett',27 ,'Mental health specialist','Leeds');
insert into bakers values('Luke','Luke Thompson',30 ,'Civil servant/house and techno DJ','Sheffield');
insert into bakers values('Manon','Manon Lagrève',26 ,'Software project manager','London');
insert into bakers values('Rahul','Rahul Mandal',30 ,'Research scientist','Rotherham');
insert into bakers values('Ruby','Ruby Bhogal',29 ,'Project manager','London');
insert into bakers values('Terry','Terry Hartill',56 ,'Retired air steward','West Midlands');

create table signatures(
     episodeid int
     , baker   varchar(100)
     , make    varchar(100)
     , foreign key (baker) references bakers(baker)
);

insert into signatures values(1,'Antony','Turmeric and Caraway Goosnargh Cakes');
insert into signatures values(1,'Briony','Apple Cider Empire Biscuits');
insert into signatures values(1,'Dan','Lemon and Strawberry Shrewsburys');
insert into signatures values(1,'Imelda','Cherry and White Chocolate Oatmeal Biscuits');
insert into signatures values(1,'Jon','Aberffraw ''Creams''');
insert into signatures values(1,'Karen','Yorkshire Perkins');
insert into signatures values(1,'Kim-Joy','Orange Blossom York Biscuits');
insert into signatures values(1,'Luke','Yorkshire Gingernuts');
insert into signatures values(1,'Manon','Hazelnut Cornish Shortbread');
insert into signatures values(1,'Rahul','Fennel and Coconut Pitcaithly Bannock');
insert into signatures values(1,'Ruby','Masala Chai Devon Flats');
insert into signatures values(1,'Terry','Lake District Ginger Shortbread');
insert into signatures values(2,'Antony','Cardamom and Coconut Burfi Traybake');
insert into signatures values(2,'Briony','Turron and Orange Traybake');
insert into signatures values(2,'Dan','Black Forest Slice');
insert into signatures values(2,'Jon','Lemon Meringue Traybake');
insert into signatures values(2,'Karen','Almond and Marzipan Traybake with Rhubarb Jam');
insert into signatures values(2,'Kim-Joy','Pandan Chiffon Cake with Palm Sugar Cream');
insert into signatures values(2,'Luke','Lemon and Poppy Seed Traybake');
insert into signatures values(2,'Manon','Rosemary and Honey Traybake');
insert into signatures values(2,'Rahul','Lemon and Cardamom Traybake');
insert into signatures values(2,'Ruby','Boozy Black Forest Traybake');
insert into signatures values(2,'Terry','Rum and Raisin Traybake');
insert into signatures values(3,'Antony','Decadent Breakfast Chelsea Buns');
insert into signatures values(3,'Briony','Balsamic Strawberry Chelsea Buns');
insert into signatures values(3,'Dan','Sticky Spiced Orange Chelsea Buns');
insert into signatures values(3,'Jon','Cardiff City vs Chelsea Buns');
insert into signatures values(3,'Karen','Peak District Christmas Chelsea Buns');
insert into signatures values(3,'Kim-Joy','Pistachio and Cardamom Tangzhong Chelsea Buns');
insert into signatures values(3,'Manon','Apricot, Cranberry and Marzipan Chai Chelsea Buns');
insert into signatures values(3,'Rahul','Mango and Cranberry Chelsea Buns');
insert into signatures values(3,'Ruby','Gujarela Chelsea Buns with Dates, Almonds and Raisins');
insert into signatures values(3,'Terry','Tangy Citrus Sticky Chelsea Buns');
insert into signatures values(4,'Briony','Treacle Tart Roulade');
insert into signatures values(4,'Dan','Florida Roulade');
insert into signatures values(4,'Jon','Mango and Passion Fruit Roulade');
insert into signatures values(4,'Karen','Coffee Cream and Praline Roulade');
insert into signatures values(4,'Kim-Joy','''Sweet Dreams'' Roulade');
insert into signatures values(4,'Manon','Amarene and Kirsch Cherry Roulade');
insert into signatures values(4,'Rahul','Rhubarb and Custard Roulade');
insert into signatures values(4,'Ruby','Pina Colada Roulade');
insert into signatures values(5,'Briony','Honey and Apricot Ginger Cake');
insert into signatures values(5,'Dan','Ginger and Lemon Drip Cake');
insert into signatures values(5,'Jon','Family Christmas Ginger Cake');
insert into signatures values(5,'Karen','Bonfire Night Ginger Cake');
insert into signatures values(5,'Kim-Joy','Stem Ginger Cake with Poached Pears');
insert into signatures values(5,'Manon','Italian Meringue Ginger Cake');
insert into signatures values(5,'Rahul','Bonfire Night Caramel Ginger Cake');
insert into signatures values(5,'Ruby','Jamaican Me Crazy Ginger Cake');
insert into signatures values(5,'Terry','Caramelised Pear and Stem Ginger Cake');
insert into signatures values(6,'Briony','Home Comforts');
insert into signatures values(6,'Dan','Festive Samosas');
insert into signatures values(6,'Jon','A Romantic Dinner For Two, Samosa Style');
insert into signatures values(6,'Kim-Joy','Flavours of India');
insert into signatures values(6,'Manon','Samosas for Mum');
insert into signatures values(6,'Rahul','Paneer Singara and Misti Singara');
insert into signatures values(6,'Ruby','Traditional Samosas');
insert into signatures values(7,'Briony','French Onion Tartlets and Celeriac & Apple Tartlets');
insert into signatures values(7,'Jon','Garlic Mushroom Tartlets and Falafel & Hummus Tartlets');
insert into signatures values(7,'Kim-Joy','Broccoli & Tomato Quiches and Mascarpone Squirrel Tartlets');
insert into signatures values(7,'Manon','Summer & Winter Tartlets');
insert into signatures values(7,'Rahul','Coriander Posto & Veg Tartlets and Ghugni Chaat Tartlets');
insert into signatures values(7,'Ruby','Sage & Butternut Tartlets and ''Cheesy Greens'' Tartlets');
insert into signatures values(8,'Briony','Spanish & West Country Smørrebrød');
insert into signatures values(8,'Kim-Joy','Bumblebee Eggs & Fish Smørrebrød');
insert into signatures values(8,'Manon','Cheese and Fruit Smørrebrød');
insert into signatures values(8,'Rahul','Smoked Salmon & Roasted Vegetable Smørrebrød');
insert into signatures values(8,'Ruby','Post-Gym Smørrebrød');
insert into signatures values(9,'Briony','Mojito Madeleines & Espresso Martini Madeleines');
insert into signatures values(9,'Kim-Joy','Ginger and Lemon Madeleines & Orange Bunny Madeleines');
insert into signatures values(9,'Rahul','Lemon and Raspberry Madeleines & Orange Curd Madeleines');
insert into signatures values(9,'Ruby','Pick Your Own Madeleines');
insert into signatures values(10,'Kim-Joy','Amaretto Diplomat Filled Doughnuts & Lemon Ring Doughnuts');
insert into signatures values(10,'Rahul','Mango Créme Pâtissière Filled Doughnuts & Spiced Orange Ring Doughnuts');
insert into signatures values(10,'Ruby','Dulce De Leche Filled Doughnuts & Raspberry and Cardamom Ring Doughnuts');

create table technicals(
     episodeid int
     , baker   varchar(100)
     , rank    int
     , foreign key (baker) references bakers(baker)
);

insert into technicals values(1,'Antony',12);
insert into technicals values(1,'Briony',2);
insert into technicals values(1,'Dan',4);
insert into technicals values(1,'Imelda',11);
insert into technicals values(1,'Jon',5);
insert into technicals values(1,'Karen',6);
insert into technicals values(1,'Kim-Joy',10);
insert into technicals values(1,'Luke',8);
insert into technicals values(1,'Manon',3);
insert into technicals values(1,'Rahul',7);
insert into technicals values(1,'Ruby',1);
insert into technicals values(1,'Terry',9);
insert into technicals values(2,'Antony',9);
insert into technicals values(2,'Briony',5);
insert into technicals values(2,'Dan',3);
insert into technicals values(2,'Jon',1);
insert into technicals values(2,'Karen',11);
insert into technicals values(2,'Kim-Joy',4);
insert into technicals values(2,'Luke',7);
insert into technicals values(2,'Manon',6);
insert into technicals values(2,'Rahul',2);
insert into technicals values(2,'Ruby',10);
insert into technicals values(2,'Terry',8);
insert into technicals values(3,'Antony',8);
insert into technicals values(3,'Briony',9);
insert into technicals values(3,'Dan',6);
insert into technicals values(3,'Jon',2);
insert into technicals values(3,'Karen',5);
insert into technicals values(3,'Kim-Joy',10);
insert into technicals values(3,'Manon',3);
insert into technicals values(3,'Rahul',4);
insert into technicals values(3,'Ruby',7);
insert into technicals values(3,'Terry',1);
insert into technicals values(4,'Briony',5);
insert into technicals values(4,'Dan',1);
insert into technicals values(4,'Jon',3);
insert into technicals values(4,'Karen',7);
insert into technicals values(4,'Kim-Joy',6);
insert into technicals values(4,'Manon',8);
insert into technicals values(4,'Rahul',4);
insert into technicals values(4,'Ruby',2);
insert into technicals values(5,'Briony',6);
insert into technicals values(5,'Dan',2);
insert into technicals values(5,'Jon',7);
insert into technicals values(5,'Karen',9);
insert into technicals values(5,'Kim-Joy',4);
insert into technicals values(5,'Manon',5);
insert into technicals values(5,'Rahul',3);
insert into technicals values(5,'Ruby',1);
insert into technicals values(5,'Terry',8);
insert into technicals values(6,'Briony',1);
insert into technicals values(6,'Dan',6);
insert into technicals values(6,'Jon',2);
insert into technicals values(6,'Kim-Joy',5);
insert into technicals values(6,'Manon',4);
insert into technicals values(6,'Rahul',3);
insert into technicals values(6,'Ruby',7);
insert into technicals values(7,'Briony',5);
insert into technicals values(7,'Jon',4);
insert into technicals values(7,'Kim-Joy',6);
insert into technicals values(7,'Manon',2);
insert into technicals values(7,'Rahul',1);
insert into technicals values(7,'Ruby',3);
insert into technicals values(8,'Briony',1);
insert into technicals values(8,'Kim-Joy',2);
insert into technicals values(8,'Manon',4);
insert into technicals values(8,'Rahul',5);
insert into technicals values(8,'Ruby',3);
insert into technicals values(9,'Briony',3);
insert into technicals values(9,'Kim-Joy',2);
insert into technicals values(9,'Rahul',4);
insert into technicals values(9,'Ruby',1);
insert into technicals values(10,'Kim-Joy',1);
insert into technicals values(10,'Rahul',2);
insert into technicals values(10,'Ruby',3);

## Q1

Query all signature dishes made by baker 'Kim-Joy' from the signatures table.

## Q2

Calculate the average technical rating of the baker 'Briony' from the table technicals.

## Q3

Calculate the union set of the baker column from the bakers table and the signature table.

## Q4 (Optional Challenge)

Calculate the except set of the baker column from the bakers table and the signature table.

## Q5 (Optional Challenge)

Using your resources from the internet, calculate the average rank from technicals of someone from 'London'.

Note that we have not exactly went over how to accomplish this.

## Q6 (Optional Challenge)

Count how many signature dishes 'Briony' created from the signatures table.