# SQL Basics

Questions 1 through 10 rely on the following pseudo-data tables. 

*warehouse*
| prod_id | type      | price_kg | speciality | origin      |
| ------- | --------- | -------- | ---------- | ----------- |
| 0       | Robusta   | 2.586    | True       | Vietnam     |
| 1       | Arabica   | 4.558    | False      | Brazil      |
| 2       | Liberica  | 4.840    | False      | Phillipines |
| 3       | Excelsa   | 4.840    | True       | India       |


*orders*
| ord_id | destination | kgs    | type     | prod_id |  comp_id |
| ------ | ----------- | ------ | -------- | ------- | -------- |
|  0     | USA         | 1000   | Robusta  | 0       | 0        |
|  1     | USA         | 1000   | Arabica  | 1       | 0        |
|  2     | USA         | 200    | Liberica | 2       | 1        |
|  3     | Germany     | 1200   | Arabica  | 1       | 2        |
|  4     | Germany     | 200    | Robusta  | 0       | 2        |
|  5     | Japan       | 800    | Arabica  | 1       | 3        |
|  6     | France      | 700    | Excelsa  | 3       | 4        |

For each question, write out a SQL query that best accomplishes the listed requirements regarding these two tables.

These tables do not exist anywhere in `PostgreSQL`. Instead, you will rely on writing SQL queries without the ability to run them in pgAdmin or a seperate compiler.

Keep in mind, that competency is built through writing intentional and expected lines of code, as opposed to iteratively testing until you get something right. Look through provided notes, references, and utilize your co-workers to figure out the correct query.

## Q1

Write a query that returns all country names lowercased from the `orders` table.

**Relevant Notes/Labs**
* [1/10 Intro to SQL Notes](https://github.com/The-Knowledge-House/DS_22/blob/main/phase_2/week_6/1_10/sql_intro_notes.ipynb)
* [1/9 Intro to SQL Lab](https://github.com/The-Knowledge-House/DS_22/blob/main/phase_2/week_6/1_9/sql_coding_exercise.ipynb)

## Q2

Write a query that gets the name and type of coffee of all countries who have an order above 500 kgs but below 1000 kgs from the `orders` table.

**Relevant Notes/Labs**
* [1/9 Intro to SQL Notes](https://github.com/The-Knowledge-House/DS_22/blob/main/phase_2/week_6/1_9/sql_intro_notes.ipynb)
* [1/9 Intro to SQL Lab](https://github.com/The-Knowledge-House/DS_22/blob/main/phase_2/week_6/1_9/sql_coding_exercise.ipynb)

## Q3

Write a query that joins these two tables together on coffee-type, calculates the total price of an order according to price_kg, adds $1000 for air-freight, and then orders this table from most expensive order to least.

**Relevant Notes/Labs**
* [1/17 Intro to SQL Notes](https://github.com/The-Knowledge-House/DS_22/blob/main/phase_2/week_7/1_17/sql_II_notes.ipynb)
* [1/17 Intro to SQL Lab](https://github.com/The-Knowledge-House/DS_22/blob/main/phase_2/week_7/1_17/sql_II_coding_exercise.ipynb)

## Q4

Write a query that groups the orders table by country, and calculates the total kgs a country has ordered.

**Relevant Notes/Labs**
* [1/17 Intro to SQL Lab](https://github.com/The-Knowledge-House/DS_22/blob/860bbefaf0a022b415857823a1e9e9cf034d01e5/phase_2/week_7/1_17/sql_II_coding_exercise.ipynb)

## Q5

Which data-type would work best for the `origin` column? Why?

**Relevant Notes/Labs**
* [Postgres Data-Types](https://www.postgresql.org/docs/current/datatype.html)

## Q6

Write an `ALTER` clause that will modify the `origin` clause to your selected data-type.

**Relevant Notes/Labs**
* [1/17 Intro to SQL Notes](https://github.com/The-Knowledge-House/DS_22/blob/860bbefaf0a022b415857823a1e9e9cf034d01e5/phase_2/week_7/1_17/sql_II_notes.ipynb)

## Q7

Write a query that groups the orders table by coffee-type, and calculates the total kgs of coffee-type ordered.

**Relevant Notes/Labs**
* [1/17 Intro to SQL Lab](https://github.com/The-Knowledge-House/DS_22/blob/860bbefaf0a022b415857823a1e9e9cf034d01e5/phase_2/week_7/1_17/sql_II_coding_exercise.ipynb)

## Q8

Write a query that joins these two tables together by coffee-type, and reveal the origin & destination of this order.

**Relevant Notes/Labs**
* [1/17 Intro to SQL Notes](https://github.com/The-Knowledge-House/DS_22/blob/main/phase_2/week_7/1_17/sql_II_notes.ipynb)
* [1/17 Intro to SQL Lab](https://github.com/The-Knowledge-House/DS_22/blob/main/phase_2/week_7/1_17/sql_II_coding_exercise.ipynb)

## Q9

Write a `CREATE TABLE` query to create a new table called `companies`, which describes the following table:

*companies*
| comp_id | country  | name          |
| ------- | -------- | ------------- |
|  0      | USA      | Barstucks     |
|  1      | USA      | Golfers       |
|  2      | Germany  | Kr√∂nung       |
|  3      | Japan    | UCC           |
|  4      | France   | Carte Noire   |

Try to make the best possible decision for each data-type, and decide what would be an ideal [primary key](https://www.tutorialspoint.com/sql/sql-primary-key.htm).

**Relevant Notes/Labs**
* [1/9 Intro to SQL Notes](https://github.com/The-Knowledge-House/DS_22/blob/main/phase_2/week_6/1_9/sql_intro_notes.ipynb)

## Q10

Create a join query to join all 3 tables (`companies`, `warehouse`, `orders`) in order to create a table that describes all orders, along with warehouse & company information.'

**Relevant Notes/Labs**
* [1/17 Intro to SQL Notes](https://github.com/The-Knowledge-House/DS_22/blob/main/phase_2/week_7/1_17/sql_II_notes.ipynb)
* [1/17 Intro to SQL Lab](https://github.com/The-Knowledge-House/DS_22/blob/main/phase_2/week_7/1_17/sql_II_coding_exercise.ipynb)

# SQLAlchemy Basics

Questions 11 - 15 will go over the basics of sql-alchemy. This will entail using the company data-tables saved in the `aws` postgres database, which include `jobs`, `salaries`, and `skills`. To get a better understanding of these tables, consult the company's [planning documents](https://drive.google.com/drive/folders/1z4EwdbyfUzf-FuRTJfVMaRSm5-R25viA).

You will additionally use `pandas` to do some light exploration of these tables.

## Q11

Import all 3 of your tables using sqlalchemy, and convert them into Python objects using the `auto_mapper`. 

**Relevant Notes/Labs**
* [2/1 Intro to SQL Notes](https://github.com/The-Knowledge-House/DS_22/blob/main/phase_2/week_9/Lab/intermediate_sql_lab_notes.ipynb)

## Q12

Create session and use these 3 python classes to save data into 3 seperate dataframes.

**Relevant Notes/Labs**
* [2/1 Intro to SQL Notes](https://github.com/The-Knowledge-House/DS_22/blob/main/phase_2/week_9/Lab/intermediate_sql_lab_notes.ipynb)

## Q13

Write pandas code to discover which company name appears the most often in your jobs dataframe.

**Relevant Notes/Labs**
* [2/1 Intro to SQL Notes](https://github.com/The-Knowledge-House/DS_22/blob/main/phase_2/week_9/Lab/intermediate_sql_lab_notes.ipynb)
* [1/9 Intro to SQL Lab](https://github.com/The-Knowledge-House/DS_22/blob/main/phase_2/week_6/1_9/sql_intro_notes.ipynb)

## Q14

Write pandas code to discover the median salary of the `salary_standardized` column of your salary dataframe.

**Relevant Notes/Labs**
* [2/1 Intro to SQL Notes](https://github.com/The-Knowledge-House/DS_22/blob/main/phase_2/week_9/Lab/intermediate_sql_lab_notes.ipynb)
* [1/9 Intro to SQL Lab](https://github.com/The-Knowledge-House/DS_22/blob/main/phase_2/week_6/1_9/sql_intro_notes.ipynb)

## Q15

A project-manager in `InRecruit` decided to try their hand in database programming just to brush off some cobwebs and relive the glory days of being a junior developer. 

However, it's been a while since they've manipulated a database and, of course, have managed to change one too many rows.

And, as they say, "problems originating from the top of an organizational hierarchy often become the responsibilities of those lower down", i.e. it is now your responsibility to fix this mistake.

They've accidentally replaced all `null` values in the `salaries` table with 0's. How can we use `sqlalchemy` to change all nulls back into 0's?

Write out a piece of code that you believe will allow you to accomplish this.

**Relevant Notes/Labs**
* [2/1 Intro to SQL Notes](https://github.com/The-Knowledge-House/DS_22/blob/main/phase_2/week_9/Lab/intermediate_sql_lab_notes.ipynb)
* [1/9 Intro to SQL Lab](https://github.com/The-Knowledge-House/DS_22/blob/main/phase_2/week_6/1_9/sql_intro_notes.ipynb)
* [SqlAlchemy Docs](https://docs.sqlalchemy.org/en/20/)

# PostgreSQL Nuances 

Questions 16 - 20 will go over nuanced postgres features. We create queries based on the following tables:

*A*
| id      | color     |
| ------- | --------- |
| 0       | red       |
| 1       | red       |
| 2       | green     |
| 3       | blue      |

primary key = id

*B*
| order | id     | quantity    |
| ----- | ------ | ----------- |
| 0     |  0     | 10          |
| 1     |  1     | 20          |
| 2     |  2     | 5           |
| 3     |  2     | 1           |
| 4     |  3     | 15          |
| 5     |  4     | 8           |
| 6     |  5     | 12          |

primary key = order
[foreign key](https://www.tutorialspoint.com/sql/sql-foreign-key.htm) = id

## Q16

Write a query that utilizes a `set` operation to get all id's (`id`) that only appear in both tables.

**Relevant Notes/Labs**s
* [Intro to SQL II 1/10 Slides](https://docs.google.com/presentation/d/1HORkuuOqz2jpurRW5CVp2ASoXE_2YyUDHCo_bEknneU/edit?usp=sharing)

## Q17

Write a query that utilizes a `set` operation to get all id's (`id`) that only appear in the `B` table.

**Relevant Notes/Labs**
* [Intro to SQL Lab](https://docs.google.com/presentation/d/1HORkuuOqz2jpurRW5CVp2ASoXE_2YyUDHCo_bEknneU/edit?usp=sharing)

## Q18

We have a function called `new_prod()` which automatically creates a new row in the `B` table every time a new row is inserted into the `A` table. Namely, it takes the new `id` inserted into the `A` table, and automatically creates a row in `B` with `(new.id, 1)`. 

Write out a query which will hook up this function to a trigger for the `A` table.

**Relevant Notes/Labs**
* [Intermediate SQL I Slides](https://docs.google.com/presentation/d/1hBV5gxKHDoUDduRFgvSHRBpcrhMEDIN0Z178ZU6FtCw/edit?usp=sharing)

## Q19

What is the relationship between table `A` and table `B` regarding the primary-key `id` in `A` and the foreign key `id` in `B`.

**Relevant Notes/Labs**
* [1/24 Intermediate SQL Notes](https://docs.google.com/presentation/d/11rmg6RQ6R9veGuFUWvWZZ339bVTVi61A-3K44KGrV9A/edit?usp=sharing)

In [1]:
#print("One to One")
#print("One to Many")
#print("Many to Many")

One to One
One to Many
Many to Many

## Q20

What is the most in-demand skill for data analysts in 2023. 

**Relevant Notes/Labs**
...

In [2]:
print("Python")
print("SQL")
print("Tableau")
print("The ability to interpet morse code from vibrations in the air")

Python
SQL
Tableau
The ability to interpet morse code from vibrations in the air