## Q1 Database Design

You are tasked with designing a conceptual database for a parking lot with only one level. The parking lot has multiple parking spots, and cars can park in these spots. Each car has a unique license plate number and an alloted set of time that in can be in a parking spot. What information do you think needs to be stored in the database to keep track of which spots are available and which cars are parked where? Consider the relationships between the parking spots and cars.

Write out the relations, attributes, & keys you would need to keep track of.

Example
```
Relation1
* attr1 PRIMARY KEY
* attr2 FOREIGN KEY
* attr3 
```

write answer here

## Q2 Normalization

**Books**

| Book ID | Book Name                       | Author(s)                  | 
| ------- | ------------------------------- | -------------------------- | 
|  1      | 	To Kill a Mockingbird	    | Harper Lee, Truman Capote  | 
|  2      | 	The Hobbit	                | J.R.R. Tolkien             | 
|  3      | 	1984	                    | George Orwell              | 
|  4      | 	Pride and Prejudice	        | Jane Austen                | 
|  5      | 	The Great Gatsby            | F. Scott Fitzgerald        | 

This table violates the first normal form. Normalize this table into first normal form by describing which column you would remove.

CHALLENGE: How could you create 2 new additional tables to preserve the author information and relates it to the original **Books** table.

## Q3 Basic Queries

**warehouse**   

*primary key = prod_id*

| prod_id | type     | price_kg | speciality | origin      | 
| ------- | -------- | -------- | ---------- | ----------- | 
| 0       | Robusta  | 2.586    | True       | Vietnam     | 
| 1       | Arabica  | 4.558    | False      | Brazil      | 
| 2       | Liberica | 4.840    | False      | Phillipines | 
| 3       | Excelsa  | 4.840    | True       | India       |



**orders**

*primary key = ord_id*

| ord_id | destination | kgs | type | prod_id | comp_id | 
| ------ | ----------- | --- | ---- | ------- | ------- |
| 0 | USA | 1000 | Robusta | 0 | 0 | 
| 1 | USA | 1000 | Arabica | 1 | 0 | 
| 2 | USA | 200 | Liberica | 2 | 1 | 
| 3 | Germany | 1200 | Arabica | 1 | 2 | 
| 4 | Germany | 200 | Robusta | 0 | 2 | 
| 5 | Japan | 800 | Arabica | 1 | 3 | 
| 6 | France | 700 | Excelsa | 3 | 4 |

In postgresql syntax, write a query that returns all country names lowercased from the orders table.

In [ ]:
-- write answer here

In postgresql syntax, write a query that gets the name and type of coffee of all countries who have an order above 500 kgs but below 1000 kgs from the orders table.

In [ ]:
-- write answer here

In postgresql syntax, write a query that joins these two tables together on coffee-type, calculates the total price of an order according to price_kg, adds $1000 for air-freight, and then orders this table from most expensive order to least.

In [ ]:
-- write answer here

## Q4 Advanced Queries

Using the tables above, generate the respective queries

Extract the name of the country that is the second highest consumer of coffee beans from the `orders` table

In [ ]:
-- write answer here

Extract the name of the bean that is the second most expensive from the `warehouse` table

In [ ]:
-- write answer here

## Q5

Explain, in your own words, why you might need a transaction in SQL?

write answer here