# Hierarchical Indexing

Let's tackle questions 1-3 as a group (co-coding). We will call on you randomly to solve these programming problems. Think of this as an equivalent of programming interview questions.

In [38]:
import pandas as pd

data = {
    "Bank": ["Chase", "Chase", "Chase", "Chase", "Wells Fargo", "Wells Fargo", "Wells Fargo", "Wells Fargo"],
    "Year": [2021, 2021, 2022, 2022, 2021, 2021, 2022, 2022],
    "Profit": [47.3, 1.5, 53.3, 1.2, 18.1, 1.2, 19.2, 0.937]
}

df = pd.DataFrame(data)

overall = df.groupby(["Bank", "Year"]).sum()
overall

                  Profit
Bank        Year
Chase       2021  48.800
            2022  54.500
Wells Fargo 2021  19.300
            2022  20.137

In [39]:
overall.loc["Chase"]

      Profit
Year
2021    48.8
2022    54.5

In [40]:
overall.loc[("Chase", 2021)]

Profit    48.8
Name: (Chase, 2021), dtype: float64

In [41]:
overall.index.levels

FrozenList([['Chase', 'Wells Fargo'], [2021, 2022]])

In [42]:
overall.reset_index()

          Bank  Year  Profit
0        Chase  2021  48.800
1        Chase  2022  54.500
2  Wells Fargo  2021  19.300
3  Wells Fargo  2022  20.137

In [43]:
df = pd.read_csv("tweets.csv")
df.head()
# 0 =  negative
# 1 = positive

,sentiment,id,date,NO_QUERY,user,tweet
0,0,1548276360,Fri Apr 17 20:30:47 PDT 2009,NO_QUERY,customcanvasart,@USEOFFORCEENT so sorry for your loss honey I...
1,0,1548276887,Fri Apr 17 20:30:54 PDT 2009,NO_QUERY,KuppyKakejEs,Getting hair done tomorrow.Nawt exicted at all.
2,0,1548276901,Fri Apr 17 20:30:55 PDT 2009,NO_QUERY,zoeydecay,Bored watching Law and Order. Wanting sunday t...
3,0,1548277792,Fri Apr 17 20:31:04 PDT 2009,NO_QUERY,leabella,Actually I had 503 maybe I should put my web...
4,0,1548277960,Fri Apr 17 20:31:05 PDT 2009,NO_QUERY,AnitaKoch,"@lkhalladay Colorado's a beautiful state, but ..."

In [44]:
# Q1
# TODO: Group by 'user' and calculate mean 'sentiment' per user and then sort according to this mean. See if you can use method chaining!

...

Ellipsis

In [55]:
# Q2
# TODO: Count the frequency of sentiment using value_counts. No method chaining required.

...

sentiment
0    100171
1     99829
Name: count, dtype: int64

In [46]:
# Q3
# TODO: Calculate the frequency of a users tweets.

...

Ellipsis

# Resampling

We will tackle questions 1-3 as a group (co-coding). We will call on you randomly to solve these programming problems. Think of this as an equivalent of programming interview questions.

In [47]:
# Q1
# TODO: Convert the `date` column into a datetime data-type

...

Ellipsis

In [48]:
# Q2
# TODO: Resample according to 1-day and calculate the mean sentiment of each day

...

Ellipsis

In [49]:
# Q3
# TODO: Resample according to a rolling window of 3-days and calculate the mean sentiment of period

...

Ellipsis

# Regex

We will tackle questions 1-3 as a group (co-coding). We will call on you randomly to solve these programming problems. Think of this as an equivalent of programming interview questions.

In [50]:
# Q1
# TODO: Write a pandas line of code that uses regex to find all tweets that contain the word "economics"

...

,sentiment,id,date,NO_QUERY,user,tweet
2194,1,2046728439,Fri Jun 05 12:36:19 PDT 2009,NO_QUERY,PullTheCurtain,Passed my economics exam! woooo! 2 modules out...
28340,0,1467916510,Mon Apr 06 22:47:56 PDT 2009,NO_QUERY,Daniiej,omg i've an economics test. and i dont know al...
45102,1,2175261322,Mon Jun 15 00:30:29 PDT 2009,NO_QUERY,draculiria,just passed economics and did alright with mat...
47061,1,2176469236,Mon Jun 15 03:57:45 PDT 2009,NO_QUERY,torehtard,@jamiejenkins87 thankies and did you guys hav...
53640,1,2184482252,Mon Jun 15 15:58:38 PDT 2009,NO_QUERY,Susicakes,in class : x This Macroeconomics is way to har...
58261,0,2189166515,Mon Jun 15 23:23:45 PDT 2009,NO_QUERY,ashepash,Test week starts today. Nooooooooooo!! today ...
84168,0,2251058589,Sat Jun 20 02:18:26 PDT 2009,NO_QUERY,emipram,has to open the economics textbooks and stare ...
95844,0,1969590676,Sat May 30 00:32:22 PDT 2009,NO_QUERY,missyujin,"One week, and then finals. I'm so ready...exce..."
97291,0,1970336279,Sat May 30 03:26:48 PDT 2009,NO_QUERY,ashepash,"I don't get my economics, i hate it"
129085,0,1687596838,Sun May 03 09:06:36 PDT 2009,NO_QUERY,tr8917,"today will be a long day full of economics, hi..."
147865,0,1984512596,Sun May 31 15:15:11 PDT 2009,NO_QUERY,RBar,Spent most of sunday studying economics
148991,0,1985397237,Sun May 31 17:01:37 PDT 2009,NO_QUERY,iHilary,I love economics... Not
191768,1,2016623015,Wed Jun 03 07:05:28 PDT 2009,NO_QUERY,KirstenCunning,Just beat everyone at monopoly in economics! ...
197093,0,2215498427,Wed Jun 17 18:13:24 PDT 2009,NO_QUERY,onafastcamel,In economics... It sucks

In [51]:
# Q2
# TODO: Write a pandas line of code that uses regex to find all tweets that ends with an exclamation point

...

Ellipsis

In [54]:
# Q3
# TODO: Write a pandas line of code that uses regex to extract other users that have been tagged via an "@" (this one is tricky) in the "tweets" column

...

                      0
0        @USEOFFORCEENT
1                   NaN
2                   NaN
3                   NaN
4           @lkhalladay
...                 ...
199995               @j
199996              NaN
199997  @ArcherIsMyName
199998            @fald
199999           @ether

[200000 rows x 1 columns]